<h1>Enter the puppy info</h1>

     <form method = "POST" action="/">
       <p>
     <label for = "name">Puppy Name:</label>
     <input type="text" name= "name" id= "name"/>
   </p>
   <p>
     <label for = "breed">Puppy Breed:</label>
     <input type="text" name= "breed" id= "breed"/>
   </p>
   <p>
     <label for = "age">Puppy Age:</label>
     <input type="text" name= "age" id= "age"/>
   </p>
       <input type="submit" value ="submit"/>
     </form>
