<h1>Enter the puppy info</h1>

<form method="post" action="/display">
  <p>Enter name:</p>
      <textarea name="name"></textarea>
  <p>Enter breed:</p>
      <textarea name="breed"></textarea>
  <p>Enter age:</p>
      <textarea name="age"></textarea>
  <input type="submit" value="submit">
</form>
